<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.disagreed.independentrepo.repository.mybatis.IngredientMapper">

    <resultMap id="Ingredient" type="IngredientEntity" autoMapping="true">
        <id property="ingredientId" column="ingredient_id"/>
        <association property="manufacturer"
                     columnPrefix="mf_"
                     resultMap="com.disagreed.independentrepo.repository.mybatis.ManufacturerMapper.Manufacturer"/>
    </resultMap>

    <sql id="AliasBaseIngredientColumns">
        ${alias}.ingredient_id as ${prefix}ingredient_id,
        ${alias}.name as ${prefix}name,
        ${alias}.description as ${prefix}description,
        ${alias}.quantity as ${prefix}quantity,
        ${alias}.expiration_date as ${prefix}expiration_date,
        ${alias}.price as ${prefix}price,

        <include refid="com.disagreed.independentrepo.repository.mybatis.ManufacturerMapper.AliasBaseManufacturerColumns">
            <property name="alias" value="mf"/>
            <property name="prefix" value="${prefix}mf_"/>
        </include>
    </sql>

    <sql id="BaseIngredientColumns">
        <include refid="AliasBaseIngredientColumns">
            <property name="alias" value="ing"/>
            <property name="prefix" value=""/>
        </include>
    </sql>

    <sql id="IngredientJoin">
        inner join manufacturer mf on mf.manufacturer_id = ing.manufacturer_id
        inner join city ci on ci.city_id = mf.city_id
        inner join person p on p.person_id = mf.person_id
        inner join country co on co.country_id = ci.country_id and co.action_ind != 'D'
    </sql>

    <select id="getAll" resultMap="Ingredient">
        select
        <include refid="BaseIngredientColumns"/>
        from ingredient ing
        <include refid="IngredientJoin"/>
    </select>

    <select id="getByIngredientId" resultMap="Ingredient">
        select
        <include refid="BaseIngredientColumns"/>
        from ingredient ing
        <include refid="IngredientJoin"/>
        where ing.ingredient_id = #{ingredientId}
    </select>
</mapper>