<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.disagreed.independentrepo.repository.mybatis.CityMapper">

    <resultMap id="City" type="CityEntity" autoMapping="true">
        <association property="country" column="country_id"
                     javaType="CountryEntity" autoMapping="true" columnPrefix="co_">
            <id property="countryId" column="country_id"/>
        </association>
    </resultMap>

    <sql id="BaseCityColumns">
        ci.city_id,
        ci.name,
        ci.is_capital,
        ci.area,
        ci.population,
        ci.density,
        ci.coordinates,
        co.country_id co_country_id,
        co.name co_name,
        co.national_language co_national_language,
        co.area co_area,
        co.population co_population,
        co.density co_density,
        co.coordinates co_coordinates
    </sql>
    
    <sql id="CityJoin">
        inner join country co on co.country_id = ci.country_id and co.action_ind != 'D'
    </sql>

    <select id="getByCityId" resultMap="City">
        select 
        <include refid="BaseCityColumns"></include>
        from city ci
        <include refid="CityJoin"></include>
        where city_id =#{cityId}
            and ci.action_ind != 'D'
    </select>

    <select id="getByName" resultMap="City">
        select
        <include refid="BaseCityColumns"></include>
        from city ci
        <include refid="CityJoin"></include>
        where ci.name = #{name}
            and ci.action_ind != 'D'
    </select>

    <select id="getAll" resultMap="City">
        select
        <include refid="BaseCityColumns"></include>
        from city ci
        <include refid="CityJoin"></include>
        where ci.action_ind != 'D'
    </select>
</mapper>
