<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.disagreed.independentrepo.repository.mybatis.CountryMapper">

    <resultMap id="Country" type="CountryEntity" autoMapping="true"/>

    <sql id="BaseCountryColumns">
        country_id,
        name,
        national_language,
        area,
        population,
        density,
        coordinates
    </sql>

    <select id="getByCountryId" resultMap="Country">
        select
        <include refid="BaseCountryColumns"/>
        from country
        where country_id=#{countryId}
            and action_ind !='D'
    </select>

    <select id="getByName" resultMap="Country">
        select
        <include refid="BaseCountryColumns"/>
        from country
        where name = #{name}
            and action_ind !='D'
    </select>

    <select id="getAll" resultMap="Country">
        select
        <include refid="BaseCountryColumns"/>
        from country
        where action_ind !='D'
    </select>

    <select id="countAll" resultType="Long">
        select count(
        country_id)
        from country
        where action_ind !='D'
    </select>

</mapper>